@import "helpers/reset";
@import "partials/variables";

body {
  font: normal normal 300 $text-size $text-font;
}

.cat-clicker {
  width: 40%;
  min-width: 650px;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $main-color;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.3);
}
.cat-list{
  width: 30%;
}

.cat-button {
  width: 100%;
  background: none;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
}

.cat-button:focus {
  border: none;
  outline: none;
}

.cat-button:hover,
.active-cat {
  background-color: #fff;
  color: $main-color;
}


.cat-box {
  width: 70%;
  max-width: 450px;
  min-height: 300px;
}

.cat {
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 5%;
  padding: 5%;
  background-color: #fff;
}

.cat-img {
  display: block;
  width: 100%;
}

.cat-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0 0 0;
}

.cat-name {
  font-weight: 700;
  text-transform: capitalize;
}